<div class="search_result" post_id="<%= id %>" id="result_<%= id %>">
	<div class="result_title"> 
			<span class="job_title">
				<a href="<%=url%>"><%=title%></a>
			</span>  
			<span class="result_options">
				<a class="result_save" href="#">fav</a><a class="result_close" href="#">del</a>
			</span>
	</div>
	<p class="result_details">
			<strong>Details:</strong> <%= details %><br />
	</p>
	<p class="result_summary">
		<%=summary%>
	</p> 
	<p class="result_links"> 
		<strong>Source:</strong> <a href="<%=url%>"><%=source%></a> |
		<strong>Post date:</strong><%=date%> |
		<a class="open_above" href="#">open all above</a>
	</p>
</div>
