<div class="search_result" post_id="<%= id %>" id="result_<%= id %>">
	<div class="result_title"> 
			<span class="job_title">
				<a href="<%=url%>"><%=title%></a>
			</span>  
			<span class="result_options">
				<a class="result_save tt_link" title="Favorite this posting" href="#">fav</a>
				<a class="result_close tt_link" title="Permanently delete this posting from my feed" href="#">del</a>
			</span>
	</div>
	<div class="result_details">
			<strong>Details:</strong> <%= details %><br />
	</div>
	<div class="result_summary">
		<%=summary%>
	</div> 
	<div class="result_links"> 
		<strong>Source:</strong> <a href="<%=url%>"><%=source%></a> |
		<strong>Post date:</strong> <%=date%>
	</div>
</div>
