<div class="search_result <%= type  %>" post_id="<%= id %>" id="result_<%= id %>">
			<span class="result_options">
				<button class="result_save tt_link" 
						title="Favorite this posting" href="#"></button>
				<button class="result_close tt_link" 
						title="Permanently delete this posting from my feed" href="#"></button>
			</span>
	<div class="result_title"> 
			<span class="job_title">
				<a target="_blank" href="<%=url%>"><%=title%></a>
			</span>
	</div>
	<div class="result_details">
			<strong>Details:</strong> <span class="category_tags"> <%= details %> </span>
	</div>
	
	<div class="result_summary">
		<%=summary%>
	</div>
	
	<div class="result_links"> 
		<strong>Source:</strong> <a href="<%=url%>"><%=source%></a> |
		<strong>Post date:</strong> <%=date%>
	</div>
</div>
