<h3 id="<%=id%>"><a href="#"> <%=title%> </a></h3>
<div>
	<ul class="plain">
		<% $.each(content, function(i, item) { %>
			<li>
				<a href="<%=click_url%>?event=<%=item.id%>" 
					class="closeable_item search_link"><%=item.terms%></a> <%=item.date%>
			</li> 
		<% }) %>
	</ul>
</div>
