<% if (size(content) == 1) { %>
	<h3 class="tile_default_closed">
<% } else { %>
	<h3>
<% } %>

<a href="#"><%=title%></a></h3>
<div>
	<ul class="plain">
	<% 
		$.each(content, function(k, v) { 
			if (v < 1) return true;
	%>
			<li>
				<input type="checkbox" class="filter" filter_type="<%=title.toLowerCase()%>" 
					checked="checked" name="<%=k%>" /><%=k%> (<%=v%>)
			</li> 
		<% }) %>
	</ul>
</div>
