
<h3><a href="#"><%=title%></a></h3>
<div>
	<ul class="plain" id="list_<%=title.toLowerCase()%>">
	<% 
		$.each(content, function(i, v) { 
			var name = v[0];
			var value = v[1];
			if (value < 1) return true;
	%>
			<li>
				<input type="checkbox" class="filter" filter_type="<%=title.toLowerCase()%>" 
					checked="checked" name="<%=name%>" /><%=name%> (<%=value%>)
			</li> 
		<% }) %>
	</ul>
</div>
