<div class="search_result <%= type  %>" post_id="<%= id %>" id="result_<%= id %>">
			<span class="result_options">
				<button class="result_save tt_link" 
						title="Favorite this posting" href="#"></button>
				<button class="result_close tt_link" 
						title="Permanently delete this posting from my feed" href="#"></button>
			</span>
	<div class="result_title"> 
			<span class="job_title">
				<a target="_blank" href="<%=url%>"><%=title%></a>
			</span>
	</div>
	
	<div class="result_details">
		<h5 class="details_title">Job Details</h5>
		<div class="details_box"> <%= details %> </div>
	</div>
	<div class="result_summary">
		<h5 class="summary_title">Job Summary</h5>
		<div class="summary_box"> <%=summary%> </div>
	</div>
	
	<div class="result_links"> 
		<strong>Source:</strong> <a href="<%=url%>"><%=source%></a> |
		<strong>Post date:</strong> <%=date%>
	</div>
</div>
