<div class="widget_right" id="<%=id%>">
	<h3><a href="#"> <%=title%> </a></h3>
	<div>
		<ul class="plain">
			<% 
				$.each(content, function(i, item) { 
					var url = (dynamic_click_url) ?	item['url'] :
							click_url + "?event=" + item['id'];
					var classes = (dynamic_click_url) ? "" : "search_link";
					var target = (dynamic_click_url ) ? "target=\"_blank\"" : "";
			%>
				<li>
					<a href="<%=url%>" <%=target%> class="closeable_item <%=classes%>">
						<span class="link_icon"></span>
						<span class="link_text"><%=item.keywords%></span>
						<span class="item_date"><%=item.date%></span>
					</a>
				</li> 
			<% }) %>
		</ul>

		<% if (content.length == 5) { %>
		
		<div class="view_all_link">
			<a href="<%= URL_USER_VIEW %>#<%=id%>">View All</a>
		</div>

		<% } %>
	</div>
</div>
