<div class="search_result">
	<div class="result_title"> 
			<span class="job_title"><a href="<%=url%>"><%=title%></a></span>  
			<span class="result_options">
				<a class="result_save" href="#">+</a><a class="result_close" href="#">x</a>
			</span>
	</div>
	<div>
			<strong>Details:</strong> <%= details %><br />
	</div>
	</dl>
		<p class="result_summary">
			<%=summary%>
		</p> 
		<p class="result_links"> 
			<strong>Source:</strong> <a href="<%=url%>"><%=source%></a> 
		</p>
		<p class="sub_title">
		<strong>Post date:</strong><%=date%>
		<a class="open_above" href="#">open all above</a>
		</p>
</div>
