
<h3 id="user_list_title"> <%= title %> </h3>

<p class="user_list_buttons">
<%
	$.each(buttons, function(i, button) {
%>
	<button id="<%= button[1] %>"> <%= button[0] %> </button>

<% }) %>
</p>

<form action="#" method="GET" id="user_list_form">
<input type="hidden" name="list_type" value="<%=name%>" />
<table class="list_data search_list">
	<thead>
	<tr>
		<td> </td>
		<td> </td>
		<td>Keywords</td>
		<td>Location</td>
		<td>Sort</td>
		<td>Date Range</td>
		<td>Date</td>
	</tr>

	</thead>

	<% 
		$.each(list, function(i, item) { 
	%>
	<tr>
		<td>
			<input type="checkbox" name="item_<%= item.id %>" />
		</td>
		<td>
			<% if (item.saved) { %>  <span class="saved_search_icon"> </span>  <% } %>
		</td>
		<td>
			<a href="<%=item.url%>"><%=item.keywords%></a>
		</td>
		<td>
			<%= item.city %>
		</td>
		<td>
			<%= item.sort %>
		</td>
		<td>
			<%= item.days %>
		</td>
		<td>
			<%= item.date %>
		</td>
	</tr> 
	<% }) %>
</table>
</form>
